html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

label{
	font-size: 16px;
}

.go-up{
	padding-bottom: 25px;
}

.go-down{
	padding-top: 15px;
}

.alert-danger,
.alert-warning{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: none;
}

