* {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Naslov */
#title {

}

/* Okvir liste */
#member_list {
	margin-top: 40px;
}

/* Itemi u listi */
#member_list > li {
	margin: 0px 0 40px 0;
}

/* Ime i prezime */
#member_list > li > label:nth-child(1) {
	border-bottom: 2px solid darkgrey;
}

/* Mail */
#member_list > li > label:nth-child(2) {
	color: steelblue;
}

/* Spusti mail u redak ispod imena */
#member_list > li > label {
	display: block;
}

.jumbotron {
	background-color: white;
}

ul{
	font-size: 20px;
}
